<div class="reveal" id="covid" data-reveal>
    <h1>
        COVID-19 Patient Statement
        <small>Updated: 24th March 2020</small>
    </h1>
    <p>
        As a medical facility, we are able to continue to offer our service. However, we must ask that you really
        consider whether it is essential that you come in for your appointment.
    </p>
    <p>
        From the 18th of May we will be increasing our appointment capacity at both the Cannock Practice and the
        Burntwood practice. Initially, Cannock will be open all day Tuesday and Thursday. Burntwood will be open all day
        Wednesday. If you feel you do need to attend, please leave your name and telephone number on our answerphone
        service, and somebody will call you back.
    </p>
    <p>
        We are taking extra measures to reduce risk to both our staff and patients, and appreciate your co-operation.
        You will be advised on these when we book your appointment.
    </p>
    <p>
        Please do not attend, if you are showing symptoms of COVID-19 ie. High temperature (38˚C) or new persistent
        cough 
    </p>
    <p>
        Our position remains subject to advice from the Government and our governing body, The College of Podiatry.
    </p>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <button class="button float-right" data-close>
        Close
    </button>
</div>

<div id="covid-info">
    <button class="button" data-open="covid">
        COVID-19
    </button>
</div>

<script>
    const covidCookie = 'covid-20200314';
    $(document).ready(function () {
        $('#covid').foundation();
        $('#covid').on('closed.zf.reveal', function () {
            Cookies.set(covidCookie, '', {expires: 1})
        });

        if (Cookies.get(covidCookie) === undefined) {
            $('#covid').foundation('open');
        }
    });
</script>