<header class="header {% unless page.cover %} fill {% endunless %}" role="banner">
    <div class="grid-container">
        <div class="title-bar hide-for-medium" data-responsive-toggle="top-menu">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar">
            <div class="top-bar-left">
                <a class="brand-logo" href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/img/logo.svg' | relative_url }}"/>
                    <span>
                        {{site.title}}<br/>
                        <small>For all your footcare needs</small>
                    </span>
                </a>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li>
                        <a href="{{'/about/' | relative_url}}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
