<header class="header {% unless page.cover or layout.cover %} fill {% endunless %}" role="banner">
    <div class="title-bar grid-x" data-responsive-toggle="main-menu" data-hide-for="medium">
            <div class="title-bar-title cell auto">
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </div>
            <div class="cell shrink align-right">
                <button class="menu-icon" type="button" data-toggle></button>
            </div>
    </div>

    <div class="grid-container">
        <div class="top-bar align-stretch" id="main-menu">
            <div class="top-bar-left show-for-medium">
                <a class="brand-logo" href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/img/logo.svg' | relative_url }}" alt="Chase Podiatry & Chiropody Logo"/>
                    <span class="brand-text">
                        {{site.title}}<br/>
                        <small>{{ site.slogan }}</small>
                    </span>
                </a>
            </div>
            <div class="top-bar-right">
                <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
                    <li>
                        <a>About</a>
                        <ul class="menu vertical">
                            <li><a href="{% link _pages/about/index.md %}">About Us</a></li>
                            <li><a href="{% link _pages/about/treatments.md %}">Treatments</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="{% link _pages/biomechanics/index.md %}">Biomechanics</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
