<header class="header{% unless page.cover or layout.cover %} fill{% endunless %}" role="banner">
    <div class="title-bar grid-x" data-responsive-toggle="main-menu" data-hide-for="medium">
            <div class="title-bar-title cell auto">
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </div>
            <div class="cell shrink align-right">
                <button class="menu-icon" type="button" data-toggle></button>
            </div>
    </div>

    <div class="grid-container">
        <div class="top-bar align-stretch" id="main-menu">
            <div class="top-bar-left show-for-medium">
                <a class="brand-logo" href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/img/logo-light.svg' | relative_url }}" alt="Chase Podiatry Logo"/>
                </a>
            </div>
            <div class="top-bar-right">
                <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
                    <li>
                        <a>About</a>
                        <ul class="menu vertical">
                            <li><a href="{% link _pages/about/index.md %}">About Us</a></li>
                            <li><a href="{% link _pages/about/treatment-plans.md %}">Treatment Plans</a></li>
                        </ul>
                    </li>

                    <li>
                        <a>Treatments</a>
                        <ul class="menu vertical">
                            <li><a href="{% link _pages/treatments/routine-chiropody.md %}">Routine Chiropody</a></li>
                            <li><a href="{% link _pages/treatments/biomechanics/index.md %}">Biomechanics</a></li>
                            <li><a href="{% link _pages/treatments/nail-surgery.md %}">Nail Surgery</a></li>
                            <li><a href="{% link _pages/treatments/nail-care.md %}">Nail Care</a></li>
                            <li><a href="{% link _pages/treatments/alcohol-injection.md %}">Alcohol Injection</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
