@layer base {
    h1 {
        @apply text-4xl lg:text-7xl pt-10 pb-5;
    }

    h2 {
        @apply text-2xl lg:text-4xl font-bold pt-4 pb-3;
    }

    h3 {
        @apply text-xl lg:text-3xl font-bold pt-3 pb-2;
    }

    h4 {
        @apply text-xl font-bold pt-2 pb-1.5;
    }

    h5 {
        @apply text-lg font-bold pt-1 pb-1;
    }

    p {
        @apply py-1;

        a {
            @apply underline;
        }
    }
}