// page specific styling

#home {
  #hcpc {
    max-height: 20rem;
    min-height: 20mm;
    max-width: 19.6rem;
    width: auto;

    @include breakpoint(medium) {
      width: 20vw;
      height: auto;
    }
  }
}

#about-treatment-plans {
  #pricelist {
    p {
      margin-bottom: 0;
    }
    thead {
      @extend h4;
    }
  }
}
