---
layout: base
cover: /assets/img/waiting-room.jpg
coverAlt: "Chase Podiatry & Chiropody Waiting Room"
---

<main class="content">

    <div class="page-header cell parallax-container">
        <div class="parallax"><img src="{{layout.cover}}" alt="{{layout.coverAlt}}"/></div>
        <div class="grid-container standout">
            <div class="grid-y">
                <div class="cell auto">&nbsp;</div>

                <div class="cell small-6">
                    <a class="button large" href="tel:{{ site.phone | remove: ' ' }}" data-gaLabel="Home banner">
                        Call today: {{ site.phone}}
                    </a>
                    <div class="addthis_native_toolbox"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        <main class="page-content" id="home">
            <div class="grid-x">
                <div class="cell grid-container">
                    <h1>Is foot pain affecting your life?</h1>
                    <p>
                        Painful feet have been known for hundreds of years and even Aristotle was said to have said
                        "when your feet hurt, you hurt all over". This is often very true as your feet are the
                        foundation to you walking and standing and if they don’t work correctly you will get problems.
                        There are many causes of foot problems and we believe our staff are experts in all aspects of
                        footcare from nail cutting to complex foot surgery, as well as providing a
                        <a href="{% link _pages/treatments/biomechanics/index.md %}">
                            custom made foot orthosis (insole) service
                        </a>. We are so confident that we can help that if you don’t believe that we have given you 100%
                        in trying to improve your foot problem <strong>we will give you your money back</strong>!
                    </p>
                </div>

                <div class="cell grid-container full">
                    <div class="parallax-container" style="height: 20rem">
                        <div class="parallax">
                            <img src="{{ '/assets/img/footcare.jpg' | relative_url }}"
                                 alt="Providing the best footcare"/>
                        </div>
                    </div>
                </div>

                <div class="cell grid-container">
                    <div class="media-object stack-for-small">
                        <div class="media-object-section medium-order-2">
                            <h2>Why choose us?</h2>
                            <p>
                                Choosing a foot care provider is one of the most important decisions you can make for
                                your feet.
                                Here, at Chase Podiatry &amp; Chiropody, we are warm, caring, knowledgeable,
                                accessible and we will always take the time to go over all of your options and treat
                                you as a person, not just a patient.
                                This enables individual treatment plans to be implemented with every member of staff
                                respecting the clients decision on treatments to improve their foot health.
                            </p>
                            <p>
                                Each client will be given a complete assessment then provided with up to date
                                podiatry/chiropody treatments of the highest standard.
                                All of our Podiatrists are highly trained with various specialities in foot health
                                offering over 50 years experience in foot care.
                                Unlike Foot Health Practitioners, all of our podiatric staff are registered and
                                regulated by the
                                <a href="https://www.hcpc-uk.org/">Health & Care Professions Council (HCPC)</a>,
                                the Government body for all health care professionals, and
                                <a href="https://cop.org.uk/">The College of Podiatry</a>.
                            </p>

                        </div>

                        <div class="media-object-section align-self-middle text-center medium-order-1">
                            <a href="https://www.hcpc-uk.org/">
                                <img src="{{ '/assets/img/hcpc-logo.png' | relative_url }}" alt="HCPC Registered"
                                     id="hcpc"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</main>
