---
layout: default
---
<article class="page" id="{{page.url | slugify}}">

    <header class="page-header {% if page.cover or layout.cover %} parallax-container {% else %} fill {% endif %}">
        {% if page.cover or layout.cover %}
            <div class="parallax">
                <picture>
                    <source srcset="{{ page.cover | replace: 'jpg','webp' | replace: 'png','webp' }}" type="image/webp">
                    <img src="{{ page.cover | default: layout.cover }}" alt="{{ page.coverAlt | default: layout.coverAlt }}"/>
                </picture>
            </div>
        {% endif %}

        <div class="grid-container standout">
            <div class="grid-y">
                <div class="cell auto">&nbsp;</div>
                <div class="cell shrink">
                    <div class="grid-x">
                        <div class="cell text-center padding-0">
                            <h1 class="page-title">{{ page.title | escape }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="page-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

</article>
