---
layout: default
---
<article class="page">

    <header class="page-header {% unless page.cover | default: layout.cover %} fill {% endunless %}">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell text-center">
                    <h1 class="page-title">{{ page.title | escape }}</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="page-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

</article>
